extends layout

block script
    link(rel="stylesheet" type="text/css" href="/vendor/datetimepicker/jquery.datetimepicker.css")
    script(src="/vendor/datetimepicker/jquery.datetimepicker.js")

block main-nav
    include party-nav
block main-content 
    