- user = typeof(udata) != 'undefined' ? udata : { }
block party-nav
    nav(class="navbar navbar-default")    
        .container-fluid            
            div(id="navbar" class="navbar-collapse collapse")
                ul(class="nav navbar-nav")
                    li
                        a(href='/#{user._id}/profile') 我的主页